

.Arrow {
    padding: 20px;
    margin: 10px;
    border-top: 4px solid black;
    border-right: 4px solid black;
    width: fit-content;
    height: fit-content;
}


.arrowUp {
    transform: rotate(-45deg);
    
}

.arrowDown {
    transform: rotate(135deg);
    
}

.arrowRight {
    transform: rotate(45deg);
}

.arrowLeft {
    transform: rotate(-135deg);
}